%section.chat-main
  .chat-main__group-info
    .left-items
      .left-items__group-name
        グループ名
      .left-items__member-lists
        メンバーリスト
        .member
          a
    .edit-btn
      = link_to "#", class: "btn" do
        ="Edit"
  .chat-main__tweet-lists
    .tweet-list
      .tweet-list__top-items
        .user-name
          ユーザー名
        .submit-date
          投稿日時
      .tweet-list__tweet
        ツイート内容
  .chat-main__tweet-input-form
    %form(action="#" method: :post name="form" class="form")
      .form-field
        %input(type="text" class="form-field__tweet" row="1" font="50px" placeholder="type a messege")
        %label(for="choose-pic-btn" class="form-field__choose-pic")
          %input(type="file" class="choose-pic-btn" id="choose-pic-btn")
          = icon('far','file-image')
      %input(type="submit" value="Send" name="send-btn"  class="submit-btn")
