%section.chat-main
  .chat-main__group-info
    .left-items
      .left-items__group-name
        グループ名
      .left-items__member-lists
        メンバーリスト
    .edit-btn
      edit
  .chat-main__messege-list
  .chat-main__messege-form