%section.chat-main
  .chat-main__group-info
    .left-items
      .left-items__group-name
        グループ名
      .left-items__member-lists
        メンバーリスト
        .member
          a
    .edit-btn
      = link_to "#", class: "btn" do
        ="Edit"
  .chat-main__tweet-lists
    .tweet-list
      .tweet-list__top-items
        .user-name
          ユーザー名
        .submit-date
          投稿日時
      .tweet-list__tweet
        ツイート内容
  .chat-main__tweet-input-form
    .input-form
      .input-form__write-box
      .input-form__pic-choice-btn
    .send-btn
      = link_to "#" ,class: "send-btn__link" do
        ="Send"

