%section.chat-main
  .chat-main__group-info
    .left-items
      .left-items__group-name
        グループ名
      .left-items__member-lists
        メンバーリスト
        .member
          a
    .edit-btn
      = link_to "#", class: "btn" do
        ="Edit"
  .chat-main__messege-list
  .chat-main__messege-form