.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  &__group-info{
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    border-bottom: #eeeeee;
    display: flex;
    justify-content: space-between;
    .left-items{
      margin: 35px 0  0 40px;
      &__group-name{
        font-size: 20px;
        color: #333333;
      }
      &__member-lists{
        font-size:12px;
        color: #999999;
        margin-top: 15px;
        display: flex;
      }
    }
    .edit-btn{
        padding: 0 20px;
        border:1px solid #38aef0;
        line-height: 40px;
        margin: 28px 40px 32px 0;
        .btn{
          display: inline;
          text-decoration: none;
          color: #38aef0;
        }
    }
  }
  &__tweet-lists{
    height: calc(100vh - 100px - 90px);
    width: 100%;
    padding: 35px 0 0 40px;
    .tweet-list{
      margin-bottom: 46px;
      &__top-items{
        display: flex;
        margin-bottom: 12px;
        .user-name{
          color: #333333;
          font-size: 16px;
        }
        .submit-date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__tweet{
        color: #434a54;
        font-size: 14px;
      }
    }
  }
  &__messege-form{
    background-color: #d2d2d2;
    height: 90px;
    width: 100%;
    bottom: 0;

  }
  
}